<div class="container pt-3 mb-3">
  <div class="my-4 row align-items-center gap-2 justify-content-end">
    <div class="col">
      <div class="input-group" style="min-width: 287px">
        <input (keydown.enter)="searchUniProt()" [(ngModel)]="uniProtId" class="form-control" placeholder="UniProt identifier"
               style="min-width: 130px"
               type="text">
        <button (click)="uniProtId = ''; searchUniProt()" class="btn btn-outline-warning" type="reset">
          <i class="bi bi-x-lg"></i>
        </button>
        <button (click)="searchUniProt()" class="btn btn-outline-primary" style="min-width: 95px" type="submit">
          Search
          <i class="bi bi-search"></i>
        </button>
      </div>
      <span [ngClass]="totalItems$.value == 0 ? 'bg-danger' : 'bg-success'" class="form-text badge">
          {{totalItems$.value == 1 ? totalItems$.value + ' entry' : totalItems$.value + ' entries'}}
        </span>
    </div>
    <div class="col align-self-start">
      <app-endpoint-selector (endpointChange$)="searchUniProt()"></app-endpoint-selector>
    </div>
    <div class="col align-self-start pe-0">
      <div class="d-flex align-items-center justify-content-end">
        <span class="me-2">Items </span>
        <select (change)="onItemsPerPageChange($event)" class="form-select" style="max-width: 70px">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <!-- Add more options as needed -->
        </select>
      </div>
    </div>
    <div class="col-auto align-self-start">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end mb-0">

          <li [class.disabled]="currentPage === 1" class="page-item">
            <a (click)="currentPage = 1" class="page-link">First</a>
          </li>
          <li [class.disabled]="currentPage === 1" class="page-item">
            <a (click)="currentPage = currentPage - 1" aria-label="Previous" class="page-link">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let pageNumber of getPageNumbers()" class="page-item">
            <a (click)="currentPage = pageNumber" [class.active]="pageNumber === currentPage"
               class="page-link">
              {{pageNumber}}
            </a>
          </li>
          <li [class.disabled]="currentPage === totalPages()" class="page-item">
            <a (click)="currentPage = currentPage + 1" aria-label="next" class="page-link">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <ng-container *ngIf="pagination$ | async"></ng-container>

  <ng-container *ngIf="!(error$ |async); else inError">
    <div *ngIf="(rdfData$ | async) as rdfData; else loadingSpinner" class="d-flex gap-3 flex-column">
      <ng-container *ngIf="rdfData.length > 0; else noData">
        <ng-container *ngFor="let protein of rdfData">
          <app-protein-row [protein]="protein"></app-protein-row>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>


<ng-template #loadingSpinner>
  <div class="d-flex mb-3 absolute-center">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #noData>
  <div class="d-flex mb-3 absolute-center">
    <div class="alert alert-primary" role="alert">
      No proteins found
    </div>
  </div>
</ng-template>

<ng-template #inError>
  <div class="d-flex mb-3 absolute-center">
    <div class="alert alert-primary col " role="alert">
      <h5>Error while fetching data</h5>
      <p>{{error$.value?.status}}: {{error$.value?.message}}</p>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="numberOfProteins$ | async"></ng-container>
